@model IEnumerable<WebApplication1.Models.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("New Course", "Create", null, new {@class = "btn btn-outline-success"})
</p>
<table class="table table-striped table-bordered table-hover custom-table">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Rename", "Edit", new {id = item.CourseId}, new {@class = "btn btn-outline-success btn-sm"})
                @Html.ActionLink("Enrollments", "CourseEnrollments", "Enrollment", new {courseId = item.CourseId}, new {@class = "btn btn-outline-info btn-sm"})
                @Html.ActionLink("Delete", "Delete", new {id = item.CourseId}, new {@class = "btn btn-outline-danger btn-sm"})
            </td>
        </tr>
    }
</table>

<div class="pagination">
    @if (ViewBag.currentPage - 4 > 1)
    {
        <a href="@Url.Action("Index", new {page = 1})">«</a>
    }
    @if (ViewBag.CurrentPage != 1)
    {
        <a href="@Url.Action("Index", new {page = ViewBag.currentPage - 1})"><</a>
    }
    @for (var i = 1; i <= ViewBag.maxPage; i++)
    {
        if (ViewBag.currentPage == i)
        {
            <a class="active" href="#">@i</a>
        }
        else
        {
            if (i <= ViewBag.currentPage + 4 && i >= ViewBag.currentPage - 4)
            {
                <a href="@Url.Action("Index", new {page = i})">@i</a>
            }
        }
    }
    @if (ViewBag.CurrentPage != ViewBag.maxPage)
    {
        <a href="@Url.Action("Index", new {page = ViewBag.currentPage + 1})">></a>
    }
    @if (ViewBag.currentPage + 4 < ViewBag.maxPage)
    {
        <a href="@Url.Action("Index", new {page = ViewBag.maxPage})">»</a>
    }
</div>