@model IEnumerable<WebApplication1.Models.ViewModels.ScheduleViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Current Schedule</h2>
<p>
    @Html.ActionLink("Reschedule", "Reschedule", htmlAttributes: new { @class = "btn btn-outline-success" }, routeValues: null)
</p>

<table class="table table-striped table-bordered table-hover custom-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th  style="width:auto" >
            @Html.DisplayNameFor(model => model.TimeSlot)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td style="width:auto" >
            @Html.DisplayFor(modelItem => item.TimeSlot)
        </td>
    </tr>
}

</table>
