@model IEnumerable<WebApplication1.Models.ViewModels.ParticipantsViewModel>

@{
    ViewBag.Title = "Participants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Participants</h2>

<p>
    @Html.ActionLink("New Participant", "Create",null,htmlAttributes: new{ @class = "btn btn-outline-success"})
</p>
<table class="table table-striped table-bordered table-hover custom-table">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @{ int count = 0; }

    @foreach (var item in Model)
    {
        count++;
    <tr>
        <td>@count</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Rename", "Edit", new { id = item.PersonId },  htmlAttributes: new { @class = "btn btn-outline-success btn-sm"}) 
            @Html.ActionLink("Enrollments", "PersonEnrollments", "Enrollment", new { personId = item.PersonId }, htmlAttributes: new { @class = "btn btn-outline-info btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.PersonId }, htmlAttributes: new { @class = "btn btn-outline-danger btn-sm" })
        </td>
    </tr>
    }

</table>
